<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TECH_SHOP</title>
        <meta charset="UTF-8">
    </head>
    <body>
      
        <header th:fragment="header">
            <h1>TECH_SHOP</h1>
        </header>   
        
        <footer th:fragment="footer">
            <p style="text-align: center">&COPY;Derechos Reservados 2022</p>
        </footer>
        
        
        
    </body>
</html>
