<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    xmls:th="http://www.thymeleaf.org">
    
    <head>
        <title>TECH_SHOP</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
         <div class="contenido">
        <h2>[[#{cliente.nuevo}]]</h2>
        <a th:href="@{/cliente/nuevo">[[#{cliente.nuevo}]]</a>
        <div th:if="${clientes !null and !clientes.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>[[#{cliente.nombre</th>
                    <th>[[#{cliente.apellidos</th>
                    <th>[[#{cliente.correo</th>
                    <th>[[#{cliente.telefono</th>
                    <th>[[#{cliente.limite</th>
                    <th>[[#{cliente.eliminar</th>
                    <th>[[#{cliente.actualizar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td>[[${cliente.nombre}]]</td>
                    <td>[[${cliente.apellidos}]]</td>
                    <td>[[${cliente.correo}]]</td>
                    <td>[[${cliente.telefono}]]</td>
                    <td><a th: href="@{/eliminarCliente/}+ ${cliente.idCliente}"><th>[[#{accion.eliminar}]]</th></td>
                    <td><a th: href="@{/modificarCliente/}+ ${cliente.idCliente}">[[#{accion.modificar}]]</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div th:if="${clientes ==null or clientes.empty}">
            <h2>[[#{cliente.no mostrar}]]</h2>
        </div>
        
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
