<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    xmls:th="http://www.thymeleaf.org"
    xmls="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>TECH_SHOP</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>[[#{cliente.datos}]]</h2>
        <a th:href="@{/cliente/listado}">[[#{accion.regresar}]]</a>  
        <hr/>
        <form th:action="@{/cliente/guaradar}">
             method="post"
             th:object="${cliente}">
             
             <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
             
             <label for="nombre">[[#{cliente.nombre</label>
             <input type="text" name="nombre" th:field="*{nombre}"/>
             <br/>
             
             <label for="apellidos">[[#{cliente.apellidos</label>
             <input type="text" name="apellidos" th:field="*{apellidos}"/>
             <br/>
             
             <label for="correo">[[#{cliente.correo</label>
             <input type="email" name="correo" th:field="*{correo}"/>
             <br/>
             
             <label for="telefono">[[#{cliente.telefono</label>
             <input type="tel" name="telefono" th:field="*{telefono}"/>
             <br/>
             <label for="Limite">[[#{cliente.limite </label>
             <input type="number" name="limite" th:field="*{credito.limite}"/>
             <hr/>
             <button type="submit" th:text="#{accion.guardar}"/>      
        </form>    
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
