<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    xmls:th="http://www.thymeleaf.org">
    
    <head>
        <title>TECH_SHOP</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
            
        <div>Saludos</div>
        <p th:text="${mensaje}"></p>>
        <p>[[${mensaje}]]</p>
        
        <h2>Listado de clientes</h2>
        <a th:href="@{/cliente/nuevo">Nuevo Cliente</a>
        <div th:if="${clientes !null and !clientes.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td>[[${cliente.nombre}]]</td>
                    <td>[[${cliente.apellidos}]]</td>
                    <td>[[${cliente.correo}]]</td>
                    <td>[[${cliente.telefono}]]</td>
                    <td><a th: href="@{/eliminarCliente/}+ ${cliente.idCliente}">Eliminar</td>
                    <td><a th: href="@{/modificarCliente/}+ ${cliente.idCliente}">Modificar</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div th:if="${clientes ==null or clientes.empty}">
            <h2>No se tienen clientes que mostrar!</h2>
        </div>  
        
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
