<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
    <head th:replace="layout/plantilla :: head">
        <title>TECH_SHOP</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" class="header"/>
            
       <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">                   
                </div>
            </div>
        </section>

        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{login.login}]]</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" th:action="@{/login}">
                                    <div class="row py-1 mb-2 bg-light">
                                        <div class="form-group">
                                            <label for="username">[[#{login.username}]]:</label>
                                            <input type="text" name="username" id="username"/>
                                        </div>
                                    </div>
                                    <div class="row py-1 mb-2 bg-light">
                                        <div class="form-group">
                                            <label for="password">[[#{login.password}]]:</label>
                                            <input type="password" name="password" id="password"/>
                                        </div>
                                    </div>
                                    <div class="row  py-1 mb-2 bg-light">
                                        <button type="submit" class="btn btn-primary btn-block">[[#{login.login}]]</button>                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
